# Copia este archivo a deploy-secrets.env y rellena los valores.
# deploy-secrets.env no se sube a Git (está en .gitignore).
RESOURCE_GROUP=rg-hospital-prod
LOCATION=eastus
PLAN_NAME=plan-hospital
WEBAPP_NAME=hospital-api-tunombre
SWA_NAME=hospital-app-tunombre
DJANGO_SECRET_KEY=genera-una-clave-larga-aleatoria-min-32-caracteres
